body {
    background: rgb(119, 118, 156);
}

h1 {
    text-align: center;
    text-size-adjust: auto;
    font-size: 60px;
}

#topic {
    font-size: 30px;
}

#author {
    font-style: italic;
    display: inline;
    color: white;
}

#block {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

footer {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: black;
}